@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}
.blur_line{
  display: inline-block;
  margin-left: 16px;
  width:100px;
  height:8px;
  background: rgba(255, 255, 40, 0.7);
  filter: blur(4px);
  border-radius: 4px;

}


.header {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  background: #fff;
  box-shadow: 0px 3px 16px 0px rgba(0 0 0 / 10% );
  width: 100%;
  z-index: 10;
}
.brend {
  display: inline-block;
  padding: 20px;
  margin-left: 100px;
}
.brend span {
  font-weight: 500;
  font-size: 27px;
  color: black;
}
.navigation {
  display: inline-block;
  vertical-align: middle;
  margin-left: 140px;
}
.navigation .navigation-itrems {
  display: inline-block;
  padding-left: 21px;
  text-transform: uppercase;
}

.navigation .navigation-itrems a {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition: 0.3s all ease;
}

.navigation .navigation-itrems a:hover {
  color: #ffff0d;
}
.main-section > div {
  width: 50%;
  float: left;
  padding-top: 100px;
}
.main-section .main_pic {
  padding-left: 90px;
}
.main-section img {
  width: 500px;
  height: 550px;
}
.main_info {
  padding: 30px;
}
.main_info .welcome,
.positions {
  font-size: 23px;
  font-weight: 500;
  color: #333;
  padding: 18px;
}
.main_info .my_name {
  font-size: 72px;
  font-weight: 700;
  color: #333;
  padding: 10px;
}
.main_info .social_media a {
  display: inline-block;
  vertical-align: middle;
  padding: 23px 18px;
  color: #333;
  font-size: 28px;
  transition: 0.5s all ease;
}
.main_info .social_media a:hover i {
  color: #ffff0d;
}

.btn {
  padding: 20px 67px;
  border: none;
  border-radius: 10px 0 10px 0;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #ffff0d, #0bc0f7 ) ;
  background-size: 200% auto;
  color: #fff;
  transition: all .3s ease;
}
.my_btn .btn:hover {
  background-position: right top;
  color: black;
  border-radius: 0 10px 0 10px;
}

.statistics {
  padding: 100px;
  display: inline-block;
  vertical-align: middle;
}
.statistics_item {
  display: inline-block;
  padding: 22px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #ffff0d, #0bc0f7 ) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statistics_item h3 {
  font-size: 34px;
  font-weight: 600;
  
}
.statistics_item p {
  font-size: 23px;
  font-weight: 400;
  
}
.about_us > div {
  width: 50%;
  float: left;
}
.about_img img {
  width: 500px;
  height: 550px;
}
.about_title {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
}
.about_titles {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  padding: 20px 0;
}
.about_paragraphe {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 54px;
}
.my_servisece{
  padding: 100px;
}
.service_card{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.service_card_items{
  padding: 80px 50px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  background: #e5e6c2;
  transition: all .4s ease;
}
.service_card_items:hover{
  background: rgba(255, 255, 40, 0.7);
  filter: blur(1px);
  color: #fff;
}

.card_icons{
  color: #ffff0d;
}
.card_title{
  font-size: 27px;
  font-weight: 500;
  padding: 30px 0;
}
.card_descriptions{
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.card_buttun{
  font-size: 21px;
  font-weight: 500;
  margin: 20px;
}
.card_buttun a{
  color: #555;
  text-decoration:underline 3px ;

}
.my_client_card > div{
  width: 50%;
  float: left;
}
.my_client_card{
  padding-top: 70px ;
}
.client_img img{
  width: 400px;
  height: 500px;
}
.client_name{
  padding-top: 100px;
  font-size: 29px;
  font-weight: 500;
}
.cleint_position{
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.claint_descriptions{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 25px;
}
.cleint_ball{
  color: #ffff0d;
  padding: 10px;
}
.my_portfolio{
  padding-top: 70px;
}

.my_portfolio .portfolio_navigation{
    padding: 50px 0px;
    display: flex;
    justify-content: flex-start;
}
.portfolio_navigation .navigation_itrems a{
  padding-right: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  transition: all .3s ease;
}
.portfolio_navigation .navigation_itrems a:hover{
  color: #ffff0d;
} 

.portfolio_item{
  position: relative;
}

.portfolio_items{
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  padding: 10px;
}
.portfolio_item_2{
  position: absolute;
  right: 0;
  top: 0;
}
.portfolio_item_2 .img{
  height: 400px;
}

.portfolio_item_3{
  position: absolute;
  right: 0;
  top: 430px;
}
.portfolio_item_3 .img{
  height: 370px;
}

.portfolio_items img{
  height: 800px;
  width: 100%;
}

.owerlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(230, 247, 0.9);
  transition: all .4s ease;
  visibility: hidden;
  z-index: 1;
}
.owerlay_info{
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #000;
  visibility: hidden;
  z-index: 1;
}
.owerlay_info a{
  color: #000;
  text-decoration: none;
}
.portfolio_items:hover .owerlay{
  visibility: visible;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.portfolio_items:hover .owerlay_info{
  visibility: visible;
  z-index: 1;
}

